[submodule "models/scNODE/scNODE_module"]
	path = models/scNODE/scNODE_module
	url = https://github.com/ehuan2/scNODE
	branch = eric/clean-version
[submodule "models/scIMF/scIMF_module"]
	path = models/scIMF/scIMF_module
	url = https://github.com/aosakwe/scIMF
	branch = main
[submodule "models/PISDE/PISDE_module"]
	path = models/PISDE/PISDE_module
	url = https://github.com/aosakwe/PI-SDE
[submodule "models/Artemis/Artemis_module"]
	path = models/Artemis/Artemis_module
	url = https://github.com/aosakwe/ARTEMIS
[submodule "models/MNN/MNN_module"]
	path = models/MNN/MNN_module
	url = https://github.com/aosakwe/mech-nn
[submodule "extern/psupertime"]
	path = extern/psupertime
	url = git@github.com:ehuan2/pyPsupertime.git
[submodule "extern/sceptic"]
	path = extern/sceptic
	url = git@github.com:ehuan2/Sceptic.git
